tr:nth-child(even) {
    background-color: lightgrey;
}

tr:nth-child(odd) {
    background-color: cadetblue;
}

.spins::after {
    position: absolute;
    content: 'Fetching records...';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.downloadBtnCss {
    margin-bottom: -30px;
    margin-right: 0px;
}

.userCss {
    margin-left: -4px;
    width: 103%;
}

.multiSelectCustomCss {
    width: 100%;
}